---
title: Contact Styl.us
---

<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group text-center">
          <form>
            <div class="small_padded">
              <label for="InputEmail">Email adress</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="bob@gmail.com">
            </div>
            <div class="small_padded">
              <label for="WriteQuestion">Your questions</label>
              <textarea class="form-control" rows="8"></textarea>
            </div>
            <div>
              <input type="send" value="Send" class="btn btn-primary" >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>